@import "../../styles/typography";

.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 1rem 5rem;

    &__menu{
        display: flex;
    }

    &__profile{
        width: 72px;
        height: 72px;
    }

    &__ul{
        list-style: none;
        display: flex;
        padding-left: 7rem;
    }

    &__logo{
        margin: 0;
        padding-top: 0.4rem;
    }

    &__li{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        padding-left: 3rem;
        color: #0F4162;
    }

    &__login-wrapper{
        display: flex;
    }

    &__btns{
        display: flex;
    }

    &__btn-wrapper{
        padding-right: 1rem;
    }

    &__btn-globe{
        padding-right: 2rem;
        padding-top: 0.25rem;
        height: 42.5px;
        width: 42.5px;
    }

    &__btn{
        width: 167px;
        height: 52px;
        background: #ACD1EA;
        border-radius: 28px;
        border: none;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #0F4162;
    }  
}
