.footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 3rem 12rem 1rem 8rem;
    background: #DDECF6;

    &__text{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 21px;
        color: #0C72AD;
        
    }

    &__social{
        padding: 1rem 0rem 0rem 1rem;
    }

    &__linkedin{
        padding-right: 1rem;
    }

    &__facebook{
        padding-right: 1rem;
    }

    &__instagram{
        padding-right: 1rem;
    }
    &__twitter{
        padding-right: 1rem;
    }
}