.vision {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  &__col--copy {
    width: 25%;
    padding-left: 8rem;
    padding-top: 3rem;
  }
  &__col--photo {
    width: 25%;
    padding: 1rem;
  }
}
